{% ckan_extends %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/ioos_theme.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

  {# populate dataset name for feedback when we are on a dataset page #}
  {% set opt_pkg = pkg.name if pkg is defined else "" %}
  <a id="feedback" class="hidden-xs" href="/feedback/{{opt_pkg}}"></a>
{% endblock %}
