.account-masthead {
    background-color: #007396;
}

.header-image .logo img {
  max-height: 55px;
}

.masthead { 
  background: #ffffff;
  color: #003087;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
  color: #003087;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #D1DEE2;
}

.site-footer {
  background: #007396;
}
