  {#
  Shows a date picker
  #}

  <section data-module="ioos_theme_daterange"
           class="module module-narrow module-shallow">
    <form name="datetime-selection">
      <h2 class="module-heading">
        <i class="fa fa-clock-o"></i> Date/Time Selection
        <a data-toggle="popover" title="<b>Supplying date/time</b>"
          data-content="<p>Supply an ISO 8601 compliant date and optionally a time or <code>*</code>. <code>*</code> selects all times before or after depending on whether used in start or end date.  `*` is implied if one datetime field is filled out but the other is left blank.  If both fields are left blank, no datetime filtering is applied. A UTC time zone is assumed if no time zone information is supplied.  Some example dates which will work are listed below:
                                <ul>
                                  <li><code>*</code> <i>(selects all times before or after)</i></li>
                                  <li><code>2018</code></li>
                                  <li><code>2018-02</code></li>
                                  <li><code>20001203</code></li>
                                  <li><code>2015-02-01 10:00</code> <i>(assumes time is in UTC)</i></li>
                                  <li><code>1975-04-15T14:00+05:00</code></li>
                                  <li><code>1980-11-07T08:33:04Z</code></li>
                                  <li><code>1980-350</code> <i>(Ordinal date, 350th day of year)</i></li>
                                  <li><code>1995W12</code> <i>(Twelfth week of the year 1995)</i></li>
                                </ul>
                              </p>"><i class="fa fa-info-circle"></i></a>
      </h2>
        <div>
          <label for="start_time">Start Time</label>
          <a name="datefilter"><i name="datefilter" class="fa fa-calendar"></i></a>
          <input id="start_time" name="start_time" value="" type="text" class="form-control"
                 placeholder="ISO 8601 date or * for all dates">
        </div>
        <div>
          <label for="end_time">End Time</label>
          <a name="datefilter"><i name="datefilter" class="fa fa-calendar"></i></a>
          <input id="end_time" name="end_time" value="" type="text" class="form-control"
                 placeholder="ISO 8601 date or * for all dates">
        </div>
      </div>
      <h2 class="module-heading">
        <i class="fa fa-arrow-alt-circle-down"></i> Depth Selection
      </h2>
      <div id="depth_selection">
        <div id="min_depth_selection">
          <label for="min_depth">Minimum depth (meters)</label>
          <input id="min_depth" type="number" name="min_depth"
                 class="form-control">
        </div>
        <div id="max_depth_selection">
          <label for="max_depth">Maximum depth (meters)</label>
          <input id="max_depth" type="number" name="max_depth"
                 class="form-control">
        </div>
      </div>
      <div id="start-end-btn-container">
        <button class="btn apply btn-primary">Apply</a>
        <button type="reset" class="btn btn-secondary">Clear</a>
      </div>
    </form>
  </section>
  {% resource "ioos_theme/moment.js" %}
  {% resource "ioos_theme/daterangepicker.js" %}
  {% resource "ioos_theme/daterangepicker.css" %}
  {% resource "ioos_theme/date_range_input.js" %}
  {% resource "ioos_theme/jquery.validate.js" %}
