<div role="main" class="hero">
  <div class="container">
    <div class="row">
      {% block search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>
  </div>
  <div class="container below-search">
    <div class="row row2">
      <div class="col-md-6 column">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 column">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
        <br>
        <div class="box links">
          <div class="inner">
            <h3>Resources</h3>
            <table class="homepage-table table table-responsive">
              <tr>
                <th>Service Type<br></th>
                <th>Service URL<br></th>
                <th>Documentation</th>
              </tr> 
              <tr>
                <td>OGC CS-W<br><img class="links-img img-responsive" src="img/ogc.png"></td>
                <td><a href="https://data.ioos.us/csw">https://data.ioos.us/csw</a></td>
                <td><a href="https://docs.pycsw.org/en/latest/csw-support.html">https://docs.pycsw.org/en/latest/csw-support.html</a></td>
              </tr>
              <tr>
                <br>
                <td>CKAN API<br><img class="links-img img-responsive" src="img/ckan_logo.png"></td>
                <td><a href="https://data.ioos.us/api/3/">https://data.ioos.us/api/3/</a></td>
                <td><a href="https://docs.ckan.org/en/latest/api/">https://docs.ckan.org/en/latest/api/</a></td>
              </tr>
              <tr>
                <br>
                <td>Metadata Web Accessible Folder (WAF)</td>
                <td><a href="https://data.ioos.us/waf/">https://data.ioos.us/waf/</a></td>
                <td></td>
              </tr>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
