{% trans %}
<p>The IOOS Catalog (<a href="https://data.ioos.us/">https://data.ioos.us/</a>) is an open data portal containing IOOS’ portfolio of oceanographic
    observations and forecast products provided by IOOS’ 11 Regional Associations (RAs), functional Data Assembly
    Centers (DACs) such as the HF Radar DAC and Glider DAC, and IOOS’ federal partners.  The Catalog inventories
    all IOOS Data Management (DMAC)-compliant data access service endpoints provided by these entities in a single
    metadata repository, for discovery by end users.  </p>

<p>The Catalog is populated by ISO 19115 metadata records that describe the observations taken and forecast model
    outputs produced by the RAs and DACs using DMAC-recommended standard vocabularies and data formats wherever
    possible (netCDF-CF [1], ACDD [2]).  The RAs and DACs publish their metadata to web accessible folders, or
    OGC CS-W services, and the Catalog harvests metadata from these locations on a daily basis.  Because IOOS
    data provider metadata is often produced in an automated fashion by software reading native data file attributes
    (such as CF attribution in a netCDF file, for example), a daily automated harvest of the ISO XML metadata is
    necessary, in order to keep frequently varying information such as dataset time coverage current.  </p>

<p>The Catalog provides a searchable user graphical user interface (<a href="https://data.ioos.us/">https://data.ioos.us/</a>)
    for interactive data discovery by users, as well as a native API (<a href="https://data.ioos.us/api/3">https://data.ioos.us/api/3</a>)
    and OGC CS-W (<a href="https://data.ioos.us/csw?service=CSW&request=GetCapabilities">https://data.ioos.us/csw?service=CSW&request=GetCapabilities</a>) -compatible service
    for machine-based access to its inventory of data products.    Downstream national IOOS
    products such as the IOOS Environmental Sensor Map (<a href="https://sensors.ioos.us">https://sensors.ioos.us</a>) use the Catalog
    inventory for real-time sensor observation services to include in its map portal.</p>

<p>The IOOS Catalog is made up of three main components:
    <ol>
        <li>the Data Catalog (the public user interface, based on CKAN open data catalog software)</li>
        <li>the Harvest Registry (an internal site used by data providers to manage metadata harvest sources)</li>
        <li>the Service Monitor (service uptime monitoring)</li>
    </ol>
        </p>

<p>Additional information about the IOOS Catalog and components, including instructions for IOOS
    data providers, can be found here: <a href="https://ioos.github.io/catalog">https://ioos.github.io/catalog</a>. </p>

<p>Catalog GitHub Repository: <a href="https://github.com/ioos/catalog">https://github.com/ioos/catalog</a>.  For information on project
    development timelines, Catalog source code, or to file an issue, please see the GitHub repo.  </p>
<br>
<h1 class="page-heading">Frequently Asked Questions</h1>

<h3>What are the dataset filtering options provided by the IOOS Data Catalog?</h3>
    <br>
    <p>
    The current faceted filtering options provided by the CKAN software underlying the Data
    Catalog are:
    <ul>
      <li>Location (i.e. geographic bounding box), Organization (e.g. PacIOOS, GLOS, etc)</li>
      <li>Tags/keywords (e.g. sea_water_temperature, sea_water_electrical_conductivity)</li>
      <li>Formats (e.g.  HTML, SOS, OPeNDAP, etc).</li>
      <li>Date and time</li>
      <li>Data providers</li>
    </ul>
    There is also the option to do a free text search, which will search
    indexed metadata fields such as dataset title, abstract, keywords, and others and provide matched datasets.
    </p>

<h3>How can I search for datasets by time window?</h3><br>
<p>
        The <a href="https://data.ioos.us/dataset">datasets search page</a>
        provides an option to search by start and/or end time.
        </p>

<h3>I sometimes get different search results from the CS-W service and the Data Catalog.  Why is this?</h3><br>
<p>
        The CS-W service is provided by pycsw, a Python-based OGC Catalog Service software.  It has its own internal search implementation that sometimes gives different results than CKAN’s embedded search, which is powered by the Apache Solr search indexing software.  There is a long-term plan to abstract pycsw’s search implementation to allow external pluggable search implementations (including Solr) to interoperate with pycsw but this functionality is not yet available.
        </p>

<h3>Can I filter search results in the Data Catalog by IOOS data provider or platform operator?</h3><br>
<p>
        Partially.  The <i>CI_RoleCode</i> in ISO 19115 with a value of "originator" is used as the value of the data provider field.
        With development of standardized metadata profiles to
        represent this information in incoming metadata from the IOOS RAs and DACs, the CKAN catalog software could be
        extended to provide richer filtering options including concepts such as RA or platform operator.
        For more information on planned work on this, see: <a href="https://github.com/ioos/catalog/milestone/7">https://github.com/ioos/catalog/milestone/7</a>.
        </p>

<h3>How do I identify oceanographic forecast model output datasets in the Catalog versus oceanographic observations?</h3>
<p>
        At the moment, there is not a straightforward technique for this.  We hope to address this deficiency in the near future.
        As part of an upcoming development milestone (<a href="https://github.com/ioos/catalog/milestone/7">https://github.com/ioos/catalog/milestone/7</a>), we will be investigating
        enhancements to both the CKAN software as well as developing metadata conventions to better enable our data providers
        to tag oceanographic forecast model output in a distinctive way that could then be represented in the Data Catalog
         interface to users.  Also, the ability to filter data by time coverage should complement a forecast model tagging
         capability to search for data covering present time onward.
        </p>

<h3>Can I search for datasets with particular GCMD keywords and/or CF standard names</h3>
<p>
Yes.  Under the hood, CKAN uses Solr for search, and can accept Solr query strings in either the dataset search on the website or the
<code><a href="https://docs.ckan.org/en/2.8/api/#ckan.logic.action.get.package_search">package_search</a></code> CKAN API endpoint.
CF Standard Names are primarily provided by the `cf_standard_names` field.  An example query is below:
<a href='https://data.ioos.us/dataset?q=cf_standard_names:"sea_water_pressure"'>https://data.ioos.us/dataset?q=cf_standard_names:"sea_water_pressure"</a></p>

<p>
GCMD keywords work somewhat differently and are organized by hierarchy
For example a query of <a href='https://data.ioos.us/dataset?q=gcmd_keywords:"Earth Science > Oceans > Ocean Chemistry > Chlorophyll"'>https://data.ioos.us/dataset?q=gcmd_keywords:"Earth Science &gt; Oceans &gt; Ocean Chemistry &gt; Chlorophyll"</a>
is equivalent to specifying the following values for <code>gcmd_keywords</code>:
<ul>
  <li><a href='https://data.ioos.us/dataset?q=gcmd_keywords:"EARTH SCIENCE > OCEANS > OCEAN CHEMISTRY > CHLOROPHYLL"'><code>"EARTH SCIENCE &gt; OCEANS &gt; OCEAN CHEMISTRY &gt; CHLOROPHYLL"</code></a></li>
  <li><a href='https://data.ioos.us/dataset?q=gcmd_keywords:"Earth Science>Oceans>Ocean Chemistry>Chlorophyll"'><code>"Earth Science&gt;Oceans&gt;Ocean Chemistry&gt;Chlorophyll"</code></a></li>
  <li><a href='https://data.ioos.us/dataset?q=gcmd_keywords:"Earth   Science  >  Oceans  >  Ocean Chemistry  >  Chlorophyll"'><code>"Earth   Science  &gt;  Oceans  &gt;  Ocean Chemistry  &gt;  Chlorophyll"</code></a></li>
</ul>
The search is hierarchical and can also contain prefixes, i.e.
<a href='https://data.ioos.us/dataset?q=gcmd_keywords:"Earth Science > Oceans"'>https://data.ioos.us/dataset?q=gcmd_keywords:"Earth Science &gt; Oceans"</a> will find any GCMD keywords underneath it.
If you want to search for a suffix with GCMD keywords, you will need to use
a wildcard search:
<a href='https://data.ioos.us/dataset?q=gcmd_keywords:*Water\ Temperature'><code>*Water\ Temperature'</code></a>
Note here the use of the escaped space per the Lucene query syntax.

<p>An example request to the CKAN API to query both GCMD Keywords starting with a value of "EARTH SCIENCE &gt; OCEANS &gt; OCEAN SCIENCE" and a CF standard name of "sea_water_electrical_conductivity" using <a href="https://curl.haxx.se/">cURL</a> is below</p>
<pre><code>curl 'https://data.ioos.us/api/3/action/package_search?fq=gcmd_keywords:"EARTH+SCIENCE+&gt;+OCEANS+&gt;+OCEAN+TEMPERATURE"+cf_standard_names:"sea_water_electrical_conductivity"'</code></pre>
</p>

<br>
<p>References:
        <br>
        [1]. Climate and Forecast Conventions: <a href="http://cfconventions.org/">http://cfconventions.org/</a>
        <br>
        [2]. Attribute Conventions for Dataset Discovery: <a href="http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery">http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery</a>
        </p>

{% endtrans %}
