.account-masthead {
    background-color: #007396;
}

.header-image .logo img {
  max-height: 55px;
}

.masthead { 
  background: #ffffff;
  color: #003087;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
  color: #003087;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #D1DEE2;
}

.site-footer {
  background: #007396;
}


section.tags {
  padding-bottom: 20px;
}

section.browse-graphic img.browse-graphic-img {
  max-width: 400px;
}

.format-label[data-format="ISO-19139"], .format-label[data-format*="ISO-19139"] {
  background-position: 0 0;
  background-image: url("../img/icon-iso-19139.png");
}

.format-label[data-format="sos"], .format-label[data-format*="sos"] {
  background-position: 0 0;
  background-image: url("../img/icon-sos.png");
  background-size: 32px 35px;
}

.format-label[data-format="dap"], .format-label[data-format*="dap"] {
  background-position: 0 0;
  background-image: url("../img/icon-dap.png");
  background-size: 32px 35px;
}

.label[data-format=opendap], .label[data-format*=opendap] {
  background-color: #638874;
}
.label[data-format=erddap-tabledap], .label[data-format*=erddap-tabledap] {
  background-color: #638874;
}
.label[data-format=wms], 
.label[data-format*=wms],
.label[data-format=sos], 
.label[data-format*=sos],
.label[data-format=wcs], 
.label[data-format*=wcs],
.label[data-format=wfs], 
.label[data-format*=wfs] {
  background-color: #ADC717;
}
