@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

#center-logo {
    text-align: center;
}

#header-logo {
    display: block;
    margin-bottom: 10px;
    width: 480px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container{
  padding-left: 10px;
  padding-right: 10px;
}

.masthead {
  padding: 0;
  min-height: 55px;
}

.masthead .navbar-collapse{
  padding: 10px 0 0
}

.nav-tabs > li > a, .nav-pills > li > a{
  line-height: 14px;
}

.account-masthead {
    background-color: #ffffff;
}

body {
  background: none !important;
}

.header-image .logo img {
  max-height: 45px;
  margin-top: 5px;
}

.masthead {
  background: #003087;
  color: #55D6F8;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
  color: #55D6F8;
  font-size: 18px;
  text-transform: uppercase;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #122b4d;
}

.homepage .stats ul li {
  float: left;
  width: 33%;
  font-weight: 300;
}

.homepage .stats ul li a strong {
  display: block;
  font-size: 35px;
  line-height: 1.5;
  font-weight: 300
}

ul.unstyled, ol.unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul#gcmd_tree li {
  padding-left: 10px;
  padding-right: 0;
}

ul#gcmd_tree li a {
  padding-left: 0;
  margin-left: 5px;
  display: inline;
}

ul#gcmd_tree.nav-facet .nav-item > a:hover::after, .nav-facet .nav-item.active > a::after {
    background-image: none;
}

/* Style the caret/arrow */
.tree-caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.tree-caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 7px;
  z-index: 300;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree-caret-down::before {
  transform: rotate(90deg);
}

ul#gcmd_tree .nav > li > a:hover, ul#gcmd_tree .nav > li > a:focus {
  // make chevron appear on top of highlighted extent
  z-index: -1;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.tree-active {
  display: block;
}

form[name="datetime-selection"] input {
    margin-bottom: 4px;
}

form[name="datetime-selection"] #start-end-time-container {
  margin: 8px;
}

form[name="datetime-selection"] #start-end-btn-container {
  display: flex;
  justify-content: center;
}

form[name="datetime-selection"] .btn {
  margin-right: 3px;
}

/* use CKAN theme presets for validation errors */
input.error {
  color: #b94a48;
  border-color: #ee5f5b;
}

label.error {
  color: #c00;
  font-style: italic;
  margin-bottom: 0;
}

/* don't display colon after form validation errors */
/* why isn't this hiding the colon? don't know, should have higher
 * CSS specificity */
label.error::after {
  content: none;
}

/* stop ugly word wrapping inside datetime info popover */
form .popover .popover-content {
  word-break: normal;
}

.site-footer {
  background: url(img/footer.png) !important;
  padding: 56px 0px !important;
  font-family: 'Roboto' ,sans-serif;
  line-height: 16px;
  /* right: 0;
  left: 0;
  bottom: 0;
  position: absolute; */
}

.site-footer h1 {
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: 'Roboto Slab',Times,serif !important;
}

section.tags {
  padding-bottom: 20px;
}

section.browse-graphic img.browse-graphic-img {
  max-width: 400px;
}

.format-label[data-format="ISO-19139"], .format-label[data-format*="ISO-19139"] {
  background-position: 0 0;
  background-image: url("../img/icon-iso-19139.png");
  background-size: 32px 35px;
}

.format-label[data-format="sos"], .format-label[data-format*="sos"] {
  background-position: 0 0;
  background-image: url("../img/icon-sos.png");
  background-size: 32px 35px;
}

.format-label[data-format="wcs"] {
  background-position: 0 0;
  background-image: url("../img/icon-wcs.png");
  background-size: 32px 35px;
}

.format-label[data-format="wfs"] {
  background-position: 0 0;
  background-image: url("../img/icon-wfs.png");
  background-size: 32px 35px;
}

.format-label[data-format="wms"] {
  background-position: 0 0;
  background-image: url("../img/icon-wms.png");
  background-size: 32px 35px;
}

.format-label[data-format="opendap"] {
  background-position: 0 0;
  background-image: url("../img/icon-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-subset"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-subset.png");
  background-size: 32px 35px;
}

/* erddap-dap, erddap-tabledap, and erddap-griddap should all display the
 * ERDDAP DAP icon */
.format-label[data-format^="erddap-"][data-format$="dap"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-graph"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-graph.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-info"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-info.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-subset"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-subset.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-wms"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-wms.png");
  background-size: 32px 35px;
}

.label[data-format=opendap], .label[data-format*=opendap] {
  background-color: #3976c8;
}
.label[data-format=erddap-tabledap], .label[data-format=erddap] {
  background-color: #128cb5;
}
.label[data-format=wms],
.label[data-format*=wms],
.label[data-format=wcs],
.label[data-format*=wcs],
.label[data-format=wfs],
.label[data-format*=wfs] {
  background-color: #f66d61;
}
.label[data-format=sos] {
  background-color: #27c97b;
}

.below-search {
  padding-top: 50px;
}

.homepage .below-search .row{
  margin-left: -10px;
  margin-right: -10px;
}

.homepage .below-search .column{
  padding-left: 10px;
  padding-right: 10px;
}

.homepage .below-search .module-content{
  padding: 25px;
}

.hero {
  background: #ffffff !important;
}

.masthead .debug {
  display: none !important;
}

.homepage .module-search{
  margin: 20px 0 0;
}

.homepage .module-search .module-content {
  background-color: #003087;
}

.homepage .module-search .tags {
  background-color: #0084B6;
}

.account-masthead .account ul li a {
  color: #003087 !important;
}

.account-masthead .account ul li {
  border-left: 1px solid #ffffff;
}

.account-masthead .account ul li a:hover {
  background-color: #003087 !important;
  color: #ffffff !important;
}

.footer-title {
  color: #ffffff;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto Slab',Times,serif!important;
}

.footer-links a {
  color: #55D6F8;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff;
}

.contact-us {
  border: 1px solid #55D6F8;
  border-radius: 0!important;
  padding: 8px 23px!important;
}

.footer-links p {
  color: #ffffff;
}

[role=main] {
  background: -moz-linear-gradient(#ffffff80, #fff), url(img/glider-underwater2.jpg) !important;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url(img/glider-underwater2.jpg) !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: 100% 900px !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.homepage .links ul {
  display: inline;
  margin: 0px;
}

.homepage .links li {
  display: inline;
  padding: 0px 5px;
  border-right: solid 1px #ccc;
}

.homepage .links li:first-child {
  border-left: solid 1px #ccc;
}

.homepage-table {
  font-size: 14px;
  text-align: left;
  margin-bottom: 35px;
}

.homepage-table td, th {
  max-width: 110px;
  padding-right: 23px;
}

.links-img {
  padding: 5px 0px;
}

/* @media (min-width: 768px) {
  .homepage [role=main] {
      padding: 0px !important;
  }
} */

html, body {
  height: 100%;
  margin: 0;
}

[role=main] {
  position: initial !important;
  padding-bottom: 0px !important;
  min-height: 75%;
}
.footer,
.push {
  height: 276px;
}

.homepage [role="main"] {
  padding: 20px 0;
  padding-bottom: 20px;
}

.module:last-child {
  margin-bottom: 75px !important;
}

.account-masthead .account .notifications a span {
  background-color: #c8c8c8 !important;
}

#feedback{
  border:0px solid #fff;
  background:#660000 url('https://s3.amazonaws.com/ioos-us-gliders/wp-content/uploads/2018/05/07155250/feedback-tab-left.png') top left no-repeat;
  width:36px;
  height:100px;
  position:fixed;
  left:-3px;
  top:40%;
  overflow:hidden;
  cursor:pointer;
  z-index: 10000;
}

#feedback:hover{
  left:-2px;
}

/* Feedback captcha */
.g-recaptcha {
  margin-left: 130px;
}

/* Tree CSS adapted from https://github.com/traceybaird/CSS-Tree/ */
.tree ul {
    margin-left: 20px;
    padding-top: 0;
}

.tree li {
    list-style-type: none;
    margin: 3px 3px 3px 3px;
    position: relative;
    display: inherit;
}

.tree li::before {
    content: "";
    position: absolute;
    top:-7px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0 0 0 0px;
    width:20px;
    height:15px;
}

.tree li::after {
    position:absolute;
    content:"";
    top:8px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}

.tree li:last-child::after  {
    display:none;
}

.tree li:last-child:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:first-child::before {
    display:none;
}

ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:0px 5px;
}

.tag {
    display: inline-block;
    margin-bottom: 2px;
    color: #111111;
    background-color: #f6f6f6;
    padding: 1px 10px;
    border: 1px solid #dddddd;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.tag-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding: 5px 10px 0px 10px;
}

/* don't show borders/lines on top level GCMD keyword hierarchy */
ul.tree > li::before, ul.tree > li::after {
    border: none;
    display: none;
}
/* allow tag hover style for ancestor tree elements.
 * Same as main.css * a.tag:hover */
a.tag.highlight-ancestor {
  text-decoration: none;
  color: #fff;
  background-color: #30778d;
  border: 1px solid #235767;
  -webkit-box-shadow: inset 0 1px 0 #3d97b3;
  box-shadow: inset 0 1px 0 #3d97b3;
}
