.account-masthead {
    background-color: #ffffff;
}

body {
  background: none !important;
}

.header-image .logo img {
  max-height: 45px;
  margin-top: 5px;
}

.masthead { 
  background: #003087;
  color: #55D6F8;
}

.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
  color: #55D6F8;
  font-size: 18px;
  text-transform: uppercase;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #122b4d;
}

.site-footer {
  background: url(img/footer.png) !important;
  padding: 56px 0px !important;
  /* right: 0;
  left: 0;
  bottom: 0;
  position: absolute; */
}


section.tags {
  padding-bottom: 20px;
}

section.browse-graphic img.browse-graphic-img {
  max-width: 400px;
}

.format-label[data-format="ISO-19139"], .format-label[data-format*="ISO-19139"] {
  background-position: 0 0;
  background-image: url("../img/icon-iso-19139.png");
  background-size: 32px 35px;
}

.format-label[data-format="sos"], .format-label[data-format*="sos"] {
  background-position: 0 0;
  background-image: url("../img/icon-sos.png");
  background-size: 32px 35px;
}

.format-label[data-format="wcs"] {
  background-position: 0 0;
  background-image: url("../img/icon-wcs.png");
  background-size: 32px 35px;
}

.format-label[data-format="wfs"] {
  background-position: 0 0;
  background-image: url("../img/icon-wfs.png");
  background-size: 32px 35px;
}

.format-label[data-format="wms"] {
  background-position: 0 0;
  background-image: url("../img/icon-wms.png");
  background-size: 32px 35px;
}

.format-label[data-format="opendap"] {
  background-position: 0 0;
  background-image: url("../img/icon-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-subset"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-subset.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-dap"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-tabledap"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-dap.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-graph"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-graph.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-info"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-info.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-subset"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-subset.png");
  background-size: 32px 35px;
}

.format-label[data-format="erddap-wms"] {
  background-position: 0 0;
  background-image: url("../img/icon-erddap-wms.png");
  background-size: 32px 35px;
}

.label[data-format=opendap], .label[data-format*=opendap] {
  background-color: #3976c8;
}
.label[data-format=erddap-tabledap], .label[data-format=erddap] {
  background-color: #128cb5;
}
.label[data-format=wms], 
.label[data-format*=wms],
.label[data-format=wcs], 
.label[data-format*=wcs],
.label[data-format=wfs], 
.label[data-format*=wfs] {
  background-color: #f66d61;
}
.label[data-format=sos] {
  background-color: #27c97b;
}

.below-search {
  padding-top: 50px;
}

.hero {
  background: #ffffff !important;
}

.masthead .debug {
  display: none !important;
}

.homepage .module-search .module-content {
  background-color: #003087;
}

.homepage .module-search .tags {
  background-color: #0084B6;
}

.account-masthead .account ul li a {
  color: #003087 !important;
}

.account-masthead .account ul li {
  border-left: 1px solid #ffffff;
}

.account-masthead .account ul li a:hover {
  background-color: #003087 !important;
  color: #ffffff !important;
}

.footer-title {
  color: #ffffff;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto Slab',Times,serif!important;
}

.footer-links a {
  color: #55D6F8;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff;
}

.contact-us {
  border: 1px solid #55D6F8;
  border-radius: 0!important;
  padding: 8px 23px!important;
}

.footer-links p {
  color: #ffffff;
}

[role=main] {
  background: -moz-linear-gradient(#ffffff80, #fff), url(img/glider-underwater2.jpg) !important; 
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url(img/glider-underwater2.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.homepage .links ul {
  display: inline;
  margin: 0px;
}

.homepage .links li {
  display: inline;
  padding: 0px 5px;
  border-right: solid 1px #ccc;
}

.homepage .links li:first-child {
  border-left: solid 1px #ccc;
}

.homepage-table {
  font-size: 14px;
  text-align: left;
  margin-bottom: 35px;
}

.homepage-table td, th {
  max-width: 110px;
  padding-right: 23px;
}

.links-img {
  padding: 5px 0px;
}

/* @media (min-width: 768px) {
  .homepage [role=main] {
      padding: 0px !important;
  }
} */

html, body {
  height: 100%;
  margin: 0;
}

[role=main] {
  position: initial !important;
  padding-bottom: 0px !important;
  min-height: 75%;
}
.footer,
.push {
  height: 276px;
}

.homepage [role="main"] {
  padding: 20px 0;
  padding-bottom: 20px;
  margin-bottom: 96px;
}