<li class="resource-item">
  {% block resource_item_title %}
  <a class="heading" href="{{ h.url_for('harvest_object_show', id=object_reference) }}" title="ISO-19139 (Local) Metadata">
    ISO-19139 (Local) Metadata
    <span class="format-label" property="dc:format" data-format="ISO-19139"></span>
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      The XML content as stored locally by CKAN
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  <div class="dropdown btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ h.url_for('harvester.object_show', id=object_reference) }}" class="resource-url-analytics" target="_blank">
          <i class="fa fa-external-link"></i>
          {{ _('View Content') }}
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
  {% endblock %}
</li>
