{# 
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/meta_keywords.html", pkg=pkg, resources=pkg.resources %}

#}

<table class="table table-condensed table-bordered">
  <tbody>
  {% if h.ioos_theme_get_pkg_item(pkg, "grouped_keywords") %}
    {% set keyword_list = h.ioos_theme_get_pkg_item(pkg, "grouped_keywords") %}
    {% for keyword_type, keywords in keyword_list %}
      <tr>
        <td width="30%">
          {{ keyword_type }} keywords
        </td>
        <td width="70%">
          {% for keyword_dict in keywords %}
            {% if keyword_dict['thesaurus']['title'] %}
              {{ keyword_dict['thesaurus']['title'] }}
            {% else %}
              Uncategorized
            {% endif %}
            <ul>
              {% for anchor in keyword_dict['anchors'] %}
                <li>
                  <a href="{{anchor['href']}}">{{anchor['text']}}</a>
                </li>
              {% endfor %} 
              {% for keyword in keyword_dict['keywords'] %}
                <li>{{ keyword }}</li>
              {% endfor %} 
            </ul>
            <br />
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
  {% endif %} 
  </tbody>
</table>
